@font-face {
    font-family: "NotoSans";
    src: url("./assets/notosans.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    -ms-overflow-style: none;  /* IE and Edge */
     scrollbar-width: none;  /* Firefox */
}

